html {
    height: 100%;
}

body {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    background-image: url(bg.png);
    font-family: sans-serif;
}

.karte {
    position: relative;
}

.stern {
    position: absolute;
    background-image: url(stern.png);
    width: 65px;
    height:65px;
    left: 320px;
    top: 140px;
    background-repeat: no-repeat;
}

.stern2 {
    position: absolute;
    background-image: url(stern.png);
    width: 65px;
    height:65px;
    top: 150px;
    left: 70px;
    background-repeat: no-repeat;
}

.stern3 {
    position: absolute;
    background-image: url(stern.png);
    width: 65px;
    height:65px;
    top: 270px;
    left: 430px;
    background-repeat: no-repeat;
}

.stern4 {
    position: absolute;
    background-image: url(stern.png);
    width: 65px;
    height:65px;
    top: 215px;
    left: 200px;
    background-repeat: no-repeat;
}

.stern:hover, .stern2:hover, .stern3:hover, .stern4:hover  {
    background-image: url(stern_hover.png);
    background-repeat: no-repeat;
    width: 65px;
    height:65px;
    
}

h1 {
    color: white;
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: 25px;
}

